{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
    
{% endblock %}

{% block content %}
<div class="col-md-12 pt-5">
  <div class="container">
      <div class="card profile-card">
          <div class="card-header profile-card-header">
              <div class="bg-overlay">
                  <div class="container">
                      <img class="profile-img" src="https://api.sololearn.com/Uploads/Avatars/14077830.jpg" alt=""> 
                          <div class="mt-3">
                              <h3 class="name">{{user.username}} </h3>
                              <button class="btn btn-dark">Update Profile</button>
                          </div>
                  </div>
              </div>
          </div>
          <div class="card-body profile-card-body pt-5">
              <div class="container">
                  <h4 class="text-center">About</h4>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem cumque officiis, culpa corporis quibusdam velit ipsam! <span class="hashtag">Impedit</span>, libero dolor. Ea rem neque sunt <span class="hashtag">accusantium</span> odit impedit inventore delectus necessitatibus tenetur.</p>
              </div>
          </div>
          <div class="card-footer profile-card-footer pb-5">
              <div class="container">
                  <h4 class="text-center mb-4">Posts</h4>
                  <div class="row mb-4">
                      <div class="col-6">
                          <img class="card-img" src="https://storage.needpix.com/rsynced_images/square-stripes-1.jpg" alt="">
                      </div>
                      <div class="col-6">
                          <img class="card-img" src="https://www.elsetge.cat/myimg/f/2-20256_multi-colored-square-glitter-background-printables-sparkle-pretty.jpg" alt="">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                          <img class="card-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvvTfk4psOM7V_OtaQsQ7sClGY1fv5igL5jSRhS64eg7p8ofpy&s" alt="">
                      </div>
                      <div class="col-6">
                          <img class="card-img" src="https://storage.needpix.com/rsynced_images/square-stripes.jpg" alt="">
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>


{% endblock%}