{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
    
{% endblock %}

{% block content %}
<div class="col-md-12 pt-5">
  <div class="container">
      <div class="card profile-card">
          <div class="card-header profile-card-header">
              <div class="bg-overlay">
                  <div class="container">
                      <img class="profile-img" src="{{user.profile_pic_path}}" alt=""> 
                          <div class="mt-3">
                              <h3 class="name">{{user.username}} </h3>
                              {% if current_user.username == user.username %}
                              <button class="btn btn-dark"><a href="{{url_for('main.update_profile',uname = user.username)}}">Update Profile</a></button>
                              {% endif %}
                          </div>
                  </div>
              </div>
          </div>
          <div class="card-body profile-card-body pt-5">
              <div class="container">
                  <h4 class="text-center">About</h4>
                  <p> {{user.bio}}</p>
              </div>
          </div>
          <div class="card-footer profile-card-footer pb-5">
              <div class="container">
                  <h4 class="text-center mb-5">Blogs written by {{user.username}}</h4>
                  <div class="row mb-4">
                    {% for blog in blogs %}
                      <div class="col-6 image-button">
                          <h4 class="text-center">{{blog.title}}</h4>
                          <img class="card-img" src="{{blog.urlToImage}}" alt="">                          
                          {% if current_user.username == blog.user.username %}
                            <button class="btn"><a href="{{url_for('main.new_comment',blog_id = blog.id)}}">Read more</a></button>
                          {%else%}
                            <button href="{{url_for('main.single_blog',blog_id = blog.id)}}" class="btn"> <a href="{{url_for('main.single_blog',blog_id = blog.id)}}">Read more</a></button>
                          {% endif %}
                      </div>
                    {%endfor%}
                      
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>


{% endblock%}